@import 'bootstrap/scss/bootstrap' ;

@font-face {
	font-family: 'Short Stack';
	font-style: normal;
	font-weight: 400;
	src: local('Short Stack'), local('ShortStack'), url(short_stack.woff2) format('woff2');
}


body {
	font-family: 'Short Stack' ;
	height: 100% ;
}

body::after {
	content: '' ;
	background: #D4EDDA image-url('pexels-fwstudio-172296') center center no-repeat ;
	background-size: cover ;
	height: 100vh ;
	width: 100vw ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	z-index: -1000
}

.center {
	position: absolute ;
	width: 100% ;
	height: 100% ;
	display: grid ;
	place-items: center ;
}

.jumbotron-bg {
	box-shadow: 0px 0px 4px #0009 !important ;
	transition: all 0.25s ease ;
	overflow: hidden ;
	height: 80vh !important ;
	overflow: auto ;

	background-color: #D4EDDA88 ;
	position: relative ;

	&:hover {
		box-shadow: 0px 0px 12px #0009 !important ;
	}
}

.centrify {
	width: 100% ;
	display: flex ;
	justify-content: center ;
	align-items: center ;
}

.btn-80 {
	width: 80px ;
}

.width-100 {
	width: 100% ;
}

#puts {
	resize: none ;
}

.slow {
	animation: x 0.25s ease ;
	transform-origin: top center ;
}

@keyframes x {
	0% { transform: scaleY(0) }
	100% { transform: scaleY(1) }
}

#notification {
	min-height: 55px ;
	max-height: 165px ;
	overflow: auto ;
}

.icon16 {
	width: 36px ;
}

.icon {
	cursor: pointer ;
	transition: all 0.25s ease ;

	&:hover {
		transform: scale(1.5) ;
		rotate: 360deg ;
	}
}

pre.code .code {
	white-space: pre-wrap ;
	background-color: #55f5 ;
}

pre.code::before {
	counter-reset: listing
}

pre.code code {
	counter-increment: listing
}

pre.code code::before {
	content: counter(listing) '. ' ;
	display: inline-block ;
	margin-right: 8px ;
}

@media(max-width: 768px) {
	#go {
		text-align: center ;
		display: block ;
		margin: 8px auto ;
		width: 30% ;
	}
}
