<table class="styled">
	<thead>
		<tr>
			<th>CPU</th>
			<th>Usage</th>
			<th>CPU Type</th>
		</tr>
	</thead>

	<tbody>
		<% cpu_usage.each do |x| %>
			<tr>
				<td><%= x[0] == 0 ? "Total" : "Core #{x[0]}" %></td>
				<td><%= sprintf "%05.2f%%", x[1] %></td>
				<td><%= x[2] %></td>
		<% end %>
	</tbody>
</table>
